mixin catalog-item(img_src, img_alt, text, title)
  a(href="#!" title=title).catalog-item
    img.catalog-item__img(src=img_src, alt=img_alt)
    .catalog-item__description
      .text-1.text-1_color.text-1_uppercase=text