<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title TRANS LIGHT
    link(rel="stylesheet", href="https://necolas.github.io/normalize.css/latest/normalize.css")
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://unpkg.com/swiper/css/swiper.min.css")
    link(rel="stylesheet", href="./css/style.css")
    link(rel="apple-touch-icon" sizes="57x57" href="./img/favicons/apple-touch-icon-57x57.png" data-mce-href="./img/favicons/apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="./img/favicons/apple-touch-icon-60x60.png" data-mce-href="./img/favicons/apple-touch-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="./img/favicons/apple-touch-icon-72x72.png" data-mce-href="./img/favicons/apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="./img/favicons/apple-touch-icon-76x76.png" data-mce-href="./img/favicons/apple-touch-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="./img/favicons/apple-touch-icon-114x114.png" data-mce-href="./img/favicons/apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="./img/favicons/apple-touch-icon-120x120.png" data-mce-href="./img/favicons/apple-touch-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="./img/favicons/apple-touch-icon-144x144.png" data-mce-href="./img/favicons/apple-touch-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="./img/favicons/apple-touch-icon-152x152.png" data-mce-href="./img/favicons/apple-touch-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="./img/favicons/apple-touch-icon-180x180.png" data-mce-href="./img/favicons/apple-touch-icon-180x180.png")
    link(rel="icon" type="image/png" href="./img/favicons/favicon-32x32.png" sizes="32x32" data-mce-href="./img/favicons/favicon-32x32.png")
    link(rel="icon" type="image/png" href="./img/favicons/android-chrome-192x192.png" sizes="192x192" data-mce-href="./img/favicons/android-chrome-192x192.png")
    link(rel="icon" type="image/png" href="./img/favicons/favicon-96x96.png" sizes="96x96" data-mce-href="./img/favicons/favicon-96x96.png")
    link(rel="icon" type="image/png" href="./img/favicons/favicon-16x16.png" sizes="16x16" data-mce-href="./img/favicons/favicon-16x16.png")
  body
    header.header
      a.link-main(href="#!")
        svg.logo
          use(xlink:href="#icon-logo")
      nav.nav.nav-mobile
        button.btn-nav
          span.line.line-1
          span.line.line-2
          span.line.line-3
        .nav-container
          .nav__item
            a.nav__link(href="#!") О компании
          .nav__item
            a.nav__link(href="#!") Портфолио
          .nav__item
            a.nav__link(href="#!") Каталог
          .nav__item
            a.nav__link(href="#!") Сервис
          .nav__item
            a.nav__link(href="#!") Контакты
      .header-box.wrap
        .header-box__content
          h1.title-1 Светотехническое оборудование в Петербурге
          .text-2 Продажа, аренда светотехнического оборудования. Оформление официальных мероприятий под ключ.
          a.link-btn(href="#!") ПЕРЕЙТИ

        

